<qd-dialog>
  <div>
    <p>Left point: <strong data-test-id="left-point-position">{{ leftPoint().position }}</strong></p>
    <button
      qdButton
      color="secondary"
      [disabled]="pending() || !leftPoint()._links?.moveLeft"
      (click)="moveLeftPointLeft()"
      data-test-id="move-left-point-left"
    >
      Move left
    </button>
    <button
      qdButton
      color="secondary"
      [disabled]="pending() || !leftPoint()._links?.moveRight"
      (click)="moveLeftPointRight()"
      data-test-id="move-left-point-right"
    >
      Move right
    </button>
  </div>

  <div>
    <p>Right point: <strong data-test-id="right-point-position">{{ rightPoint().position }}</strong></p>
    <button
      qdButton
      color="secondary"
      [disabled]="pending() || !rightPoint()._links?.moveLeft"
      (click)="moveRightPointLeft()"
      data-test-id="move-right-point-left"
    >
      Move left
    </button>
    <button
      qdButton
      color="secondary"
      [disabled]="pending() || !rightPoint()._links?.moveRight"
      (click)="moveRightPointRight()"
      data-test-id="move-right-point-right"
    >
      Move right
    </button>
  </div>

  <qd-dialog-action>
    <button qdButton (click)="onClose()" data-test-id="close-button">Close</button>
  </qd-dialog-action>
</qd-dialog>
